body{
    font-family: 'Itim', cursive;
    color: #444CA0;
    background-color: #444CA0;
}
#background img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}
header img {
    max-width: 400px;
    height: auto;
}
h1 {
    font-family: 'Itim', cursive;
    font-size: 50px;
}
h2 {
    font-size: 25px;
    margin-top: 0px;
    padding:0;
}
#input {
    display: flex;
    gap: 100px;
    margin-top: 40px;
    position: absolute;
    top: 10px;
    left: 10%;
}
#madlibsInput {
    border: 5px solid #444CA0;
    background-color: #D0EDF4;
    border-radius: 20px;
    /* padding: top right bottom left */
    padding: 30px 45px 45px 45px;
    position: absolute;
    left: 600px;
    width: 275px;
    height: 555px;
}
#madlibsInput form {
    position: absolute;
    top: 105px;
}
input, label {
    display: block;
    margin-bottom: .25em;
}
input {
    border: 3px solid #444CA0;
    border-radius: 7px;
    margin-bottom: 1.1em;
}
input[type="text"]{
    width:250px; 
    height:30px
}
input[type="text"]:focus {
    border-color: green;
    box-shadow: 0 0 0 0.2rem rgba(17, 255, 0, 0.25);
}
#warning {
    line-height: 0em;
}
button {
    padding: 5px 10px 5px 10px;
    border: 1px solid #444CA0;
    border-radius: 7px;
    background-color: #444CA0;
    color: white;
}
#submit {
    position: absolute;
    left: 105px;
}
#output {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    display: block;
    background-color: #D0EDF4;
    border: 5px solid #444CA0;
    border-radius: 20px;
    width: 600px;
    /* margin: top right bottom left */
    margin: 100px auto auto auto;
    /* padding: top right bottom left */
    padding: 25px 35px 50px 35px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}
#output h1 {
    text-align: center;
}
#output p {
    line-height: 2em;
    font-size: 25px;
}
#output p span {
    font-family: 'Itim', cursive;
}
#playAgain {
    position: absolute;
    right: 50px;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.showing {
    visibility: visible;
    opacity: 1;
}